* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-color: gray; /* ellen ville detta */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: var(--mantine-color-white);
}

.App {
  position: relative;
}
