* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://private-user-images.githubusercontent.com/115644756/288427432-9f97715f-b9dd-4870-85d0-74341e506f11.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTEiLCJleHAiOjE3MDE4NzA5MTMsIm5iZiI6MTcwMTg3MDYxMywicGF0aCI6Ii8xMTU2NDQ3NTYvMjg4NDI3NDMyLTlmOTc3MTVmLWI5ZGQtNDg3MC04NWQwLTc0MzQxZTUwNmYxMS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBSVdOSllBWDRDU1ZFSDUzQSUyRjIwMjMxMjA2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDIzMTIwNlQxMzUwMTNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT05OTU1ODVlNTU0N2MwMWZlNDE5MmJmNzJhZjk1N2Q1ODFlN2E0MzQyY2E5YWUwNmY2ZDhkYzYxNDY1NGU1NTMwJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.SlAFNChcyHc-H9E3ldGnpEbRUvXBIckcwdHYnAyHwPo);
    background-size: cover;
}